// utils
@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.benefitsCard {
  position: relative;
  padding: em(30 0 30 25, $fs);
  background: #fff;
  overflow: hidden;
  border-radius: em(14, $fs);
  box-shadow: 0px -1.4px em(14, $fs) rgba(34, 56, 126, 0.1), em(7 14 56, $fs) rgba(34, 56, 126, 0.1);
  pointer-events: none;
  $this: &;

  &__title {
    text-transform: capitalize;
    font-weight: 600;
    color: $black;
  }
  &__list {
    display: flex;
    flex-flow: wrap;
  }
  &__item {
    &:not(:last-child) {
      margin-right: em(19, $fs);
    }
  }

  &_themes {
    margin: em(38 0 164, $fs);
    width: em(414, $fs);
    z-index: 3;

    //media
    @include MQ(500) {
      left: em(80, $fs);
    }
    //media

    #{$this} {
      &__title {
        text-transform: uppercase;
        font-size: em(25, $fs);
        line-height: em(38, $fs);
      }
      &__list {
        flex-flow: row;
        margin-top: em(19, $fs);
      }
      &__item {
        width: em(150, $fs);
        flex-shrink: 0;

        img {
          @include imageObjectFit()
        }
      }
    }
  }
  &_color {
    position: absolute;
    top: em(245, $fs);
    left: em(80, $fs);
    width: em(359, $fs);
    z-index: 2;

    #{$this} {
      &__title {
        font-size: em(21, $fs);
        line-height: em(31, $fs);
      }
      &__list {
        margin-top: em(19, $fs);
        width: em(400, $fs);
      }
      &__item {
        flex-shrink: 0;
        @include size(em(52, $fs));
        margin-bottom: em(19, $fs);
        border-radius: em(8, $fs);
      }
    }
  }
  &_font {
    position: absolute;
    top: 0;
    left: 0;
    width: em(310, $fs);
    padding: em(21 0 21 21, $fs);
    z-index: 1;

    #{$this} {
      &__title {
        font-size: em(18, $fs);
        line-height: em(26, $fs);
      }
      &__list {
        width: em(318, $fs);
        margin-top: em(19, $fs);
      }
      &__item {
        width: em(138, $fs);
        flex-shrink: 0;
        margin-bottom: em(17, $fs);
        border-radius: em(8, $fs);

        &:not(:last-child) {
          margin-right: em(17, $fs);
        }
        &:nth-child(3), &:nth-child(4) {
          margin-bottom: 0;
        }

        img {
          @include imageObjectFit()
        }
      }
    }
  }

  &_ceo {
    content: 'ceo';
    position: relative;
    width: em(414, $fs);
    margin-top: em(38, $fs);
    margin-bottom: em(164, $fs);
    padding-right: em(25, $fs);
    padding-bottom: em(12, $fs);
    z-index: 3;

    //media
    @include MQ(500) {
      left: em(80, $fs);
      margin-bottom: em(110, $fs);
    }
    //media

    #{$this} {
      &__title {
        text-transform: uppercase;
        font-size: em(20, $fs);
        line-height: em(25, $fs);
      }
      &__list {
        display: block;
        margin-top: em(18, $fs);
      }
      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        color: $black;
        padding: em(18 0, $fs);
        text-transform: uppercase;

        &:not(:last-child) {
          border-bottom: 1px solid #DCE2F5;
        }

        &_header {
          margin-bottom: em(10, $fs);
          padding-bottom: em(10, $fs);
          padding-top: 0;
          font-weight: 600;
          color: $grey_text;
          text-transform: capitalize;
        }
      }
      &__item-wrapper {
        display: flex;
        align-items: center;
      }
      &__item-icon {
        flex-shrink: 0;
        @include size(em(27, $fs));
        margin-right: em(9, $fs);
      }
      &__item-name {
        color: currentColor;
        font-size: em(16, $fs);
        line-height: em(18, $fs);
      }
      &__item-numbers {
        color: currentColor;
        font-size: em(16, $fs);
        line-height: em(18, $fs);
        font-weight: 600;
      }
    }
  }
  &_clicks {
    content: 'clicks';
    position: absolute;
    top: em(240, $fs);
    left: em(84, $fs);
    width: em(359, $fs);
    padding: em(21, $fs);
    z-index: 2;

    #{$this} {
      &__title {
        text-transform: uppercase;
        font-size: em(15, $fs);
        line-height: em(23, $fs);
      }
      &__list {
        display: block;
        margin-top: em(15, $fs);
      }
      &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        color: $black;
        padding: em(11 0, $fs);
        text-transform: capitalize;

        &:not(:last-child) {
          border-bottom: 1px solid #DCE2F5;
        }

        &_header {
          justify-content: flex-start;
          margin-bottom: em(15, $fs);
          padding-bottom: 0;
          padding-top: 0;
          font-weight: 600;
          color: $grey_text;

          #{$this} {
            &__item-name {
              padding-bottom: em(8, $fs);
              margin-right: em(15, $fs);
            }
          }

        }
      }
      &__item-wrapper {
        display: flex;
        align-items: center;
      }
      &__item-icon {
        flex-shrink: 0;
        @include size(em(22, $fs));
        margin-right: em(8, $fs);
        fill: #fff;
        border-radius: 50px;

        &_instagram {
          background: linear-gradient(45deg, #F8CD4D 13.12%, #E23022 47.31%, #AC2AA7 86.88%);
        }
        &_telegram {
          background: #2BA5E0;
        }
        &_twitter {
          background: #1DA1F1;
        }
        &_pinterest {
          background: #E60022;
        }
      }
      &__item-name {
        position: relative;
        color: currentColor;
        font-size: em(13, $fs);
        line-height: em(15, $fs);

        &::before {
          content: '';
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 2px;
          background: $green;
          opacity: 0;
          border-radius: 50px 50px 0 0;
        }

        &_active {
          color: $green;

          &::before {
            opacity: 1;
          }
        }
      }
      &__item-numbers {
        color: currentColor;
        font-size: em(13, $fs);
        line-height: em(15, $fs);
        font-weight: 600;
      }
    }
  }
  &_visits {
    content: 'visits';
    position: absolute;
    top: 0;
    left: 0;
    width: em(305, $fs);
    padding: em(20 20 50, $fs);
    z-index: 1;

    #{$this} {
      &__title {
        text-transform: uppercase;
        font-size: em(23, $fs);
        line-height: em(35, $fs);
      }
      &__wrapper {
        margin-top: em(12, $fs);
      }
      &__text {
        font-size: em(20, $fs);
        line-height: em(23, $fs);
        color: $grey_text;

        &_green {
          font-weight: 600;
          color: $green;
        }
        &_size-xl {
          margin-top: em(5, $fs);
          font-weight: 600;
          font-size: em(57, $fs);
          color: $black;
        }
      }
    }
  }
}
