// utils
@import "app/styles/variables";
@import "app/styles/mixins";

.contacts {

  &__info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: rem(622);
    margin: rem(40) auto 0;

    //media
    @include MQ(500) {
      flex-flow: column;
    }
    //media

  }
  &__column {
    flex: 1;
    &:not(:last-child) {
      margin-right: rem(24);

      //media
      @include MQ(500) {
        margin-bottom: rem(40);
      }
      //media

    }
  }
  &__subtitle {
    color: $black;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__description {
    margin-top: rem(8);
    color: $grey_text;
  }
  &__text {
    $fs: 16;

    font-size: rem($fs);
    line-height: em(24, $fs);

    &_link {
      position: relative;
      display: inline-block;
      white-space: nowrap;
      color: $black;
      text-decoration: none;
      transition: color .25s ease;

      &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: currentColor;
        transform-origin: 100% 50%;
        transform: scale3d(1,1,1);
        transition: transform .25s ease;
      }

      @include on-hover {
        color: $green;

        &::before {
          transform-origin: 0 50%;
          transform: scale3d(0,1,1);
        }
      }
    }
  }

  &__decor {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: rem(622);
    margin: rem(60) auto rem(90);
    font-size: rem(16);

    //media
    @include MQ(400) {
      font-size: rem(14);
    }
    //media

  }
  &__map {
    position: relative;
    display: block;
    flex-shrink: 0;
    margin: 0 auto;

    img {
      width: em(622, $fs);
      max-width: initial;
    }
  }
  &__pin {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    @include size(em(23, $fs), em(31, $fs));
    transform: translate(80%, -155%);
  }
}
