@use "sass:math";
@import "variables";
@import "functions";

// Mixins
// ----------------------------------------------

// grid
@mixin container($container_width: $grid_container_width, $gap_half: $grid_gap_half) {
  width: min(#{$container_width}, 100%);
  margin: 0 auto;
  padding-left: $gap_half;
  padding-right: $gap_half;
}
@mixin row($gap_half: $grid_gap_half) {
  display: flex;
  flex-flow: wrap;
  margin-left: #{-$gap_half};
  margin-right: #{-$gap_half};

  & > * {
    width: 100%;
    max-width: 100%;
    margin-left: $gap_half;
    margin-right: $gap_half;
  }
}
@mixin col($size: 0, $columns: $grid_columns, $gap: $grid_gap) {
  @if ($size) {
    flex: 0 0 auto;
    width: calc(#{percentage(math.div($size, $columns))} - #{$gap});
  } @else {
    flex: 1 0 0;
  }
}
@mixin offset($size: 0, $direction: left, $columns: $grid_columns) {
  margin-#{$direction}: percentage(math.div($size, $grid_columns));
}


// responsive / adaptive
@mixin responsive($property, $default_size, $min_size) {
  $size: $default_size - $min_size;
  #{$property}: calc(#{$min_size + px} + #{$size} * ((100vw - 320px) / #{$max_width - 320}));
}
@mixin media($width, $min_max: max) {
  @media (#{$min_max}-width: #{$width}px) {
    @content
  }
}
@mixin MQ($name, $min_max: max) {
  $width: map-get($grid_breakpoints, $name);

  @if($width) {
    @include media($width, $min_max) {
      @content;
    }
  } @else {
    @include media($name, $min_max) {
      @content;
    }
  }
}


// styles only for the desired device
@mixin ie() {
  @media all and (-ms-high-contrast: none) {
    @content;
  }
}
@mixin moz() {
  @-moz-document url-prefix() {
    @content;
  }
}
@mixin edge() {
  @supports (-ms-ime-align: auto) {
    @content;
  }
}
@mixin safari() {
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      @content;
    }
  }
}


// controlled hover (hover only for desktop device)
@mixin on-hover {
  @media (hover: hover), all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    &:hover {
      @content;
    }
  }
}

// sizing
@mixin em($properties, $context) {
  @each $property in map-keys($properties) {
    #{$property}: em(append(map-get($properties, $property), $context)...);
  }
}


// styles to one line
@mixin textDots() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin imageObjectFit($type: cover) {
  @include size(100%);
  object-fit: $type;
}
@mixin animationPulse($name, $duration, $minValue, $maxValue, $verticalValue: 0) {
  animation: $name $duration ease 2;

  @keyframes #{$name} {
    0% {
      transform: translate3d(0, $verticalValue, 0) scale($minValue);
    }
    50% {
      transform: translate3d(0, $verticalValue, 0) scale($maxValue);
    }
    100% {
      transform: translate3d(0, $verticalValue, 0) scale($minValue);
    }
  }
}

// Css grids
@mixin gridCards($type: fit, $min: 280px, $max: 1fr, $gap: 30px) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat(auto-#{$type}, minmax($min, $max));
}