// Reset
// ----------------------------------------------

* {
  font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  box-sizing: border-box;
  outline: none;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
label,
picture,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
picture {
  display: block;
}
img {
  display: block;
  max-width: 100%;
}
svg {
  overflow: hidden;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
article > * + * {
  margin-top: 1em;
  ///* Наследуем шрифты для инпутов и кнопок */
}
input,
button,
textarea,
select {
  background: transparent;
  border: 0;
  margin: 0;
}
//[type='button'],
//[type='reset'],
//[type='submit'],
//button {
//  -webkit-appearance: button;
//}
button,
a {
  cursor: pointer;
}
