// utils
@import "../styles/variables";
@import "../styles/mixins";

.terms {
  .info-text {
    $fs: 16;

    display: block;
    font-size: rem($fs);
    line-height: em(28, $fs);
    color: $grey_text;
    margin-top: em(16, $fs);

    &:not(:last-child) {
      margin-bottom: em(24, $fs);
    }
  }

  a {
    color: $green;

    @include on-hover {
      text-decoration: none;
    }
  }

  h4 {
    $fs: 24;

    font-size: rem($fs);
    line-height: em(32, $fs);
    color: $black;
    margin: em(16 0, $fs);
  }

  ol {
    list-style: numeric;
    padding-left: rem(30);
  }
  li {
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }
  p {
    margin: rem(16) 0;
  }
}

.cookie {
  color: $grey_text;

  p {
    $fs: 16;

    font-size: rem($fs);
    line-height: em(24, $fs);
    margin: rem(16) 0;
  }
  h4 {
    $fs: 24;

    font-size: rem($fs);
    line-height: em(32, $fs);
    color: $black;
    margin: em(16 0, $fs);
  }
  ul {
    list-style: disc;
    padding-left: rem(30);
  }
  strong {
    font-weight: 600;
  }
  a {
    color: #40BCA3;
    text-decoration: none;
  }
  table {
    margin: rem(16) 0;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    min-width: 40px;
  }
  td{
    padding: 5px;
  }
  .btn_show_cookie{
    text-decoration: underline;
    cursor: pointer;
    color: $green;
  }
}
