/* react-transition-group */

// fade
.transition-fade-enter {
  opacity: 0;
}
.transition-fade-enter-active {
  opacity: 1;
}
.transition-fade-exit {
  opacity: 1;
}
.transition-fade-exit-active {
  opacity: 0;
}
.transition-fade-exit-active,
.transition-fade-enter-active {
  transition: opacity 250ms ease;
}

// scale
.transition-scale-enter {
  opacity: 0;
  transform: translate3d(0, 0, 0) scale(0.9);
}
.transition-scale-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);
}
.transition-scale-exit {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);
}
.transition-scale-exit-active {
  opacity: 0;
  transform: translate3d(0, 0, 0) scale(0.9);
}
.transition-scale-exit-active,
.transition-scale-enter-active {
  transition: opacity 250ms ease, transform 250ms ease;
}

// fadeIn right fadeOut right
.transition-fadeRight-enter {
  opacity: 0;
  transform: translate3d(-5%, 0, 0);
}
.transition-fadeRight-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.transition-fadeRight-exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.transition-fadeRight-exit-active {
  opacity: 0;
  transform: translate3d(5%, 0, 0);
}
.transition-fadeRight-exit-active,
.transition-fadeRight-enter-active {
  transition: opacity 250ms ease, transform 250ms ease;
}

// fadeIn left fadeOut left
.transition-fadeLeft-enter {
  opacity: 0;
  transform: translate3d(5%, 0, 0);
}
.transition-fadeLeft-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.transition-fadeLeft-exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.transition-fadeLeft-exit-active {
  opacity: 0;
  transform: translate3d(-5%, 0, 0);
}
.transition-fadeLeft-exit-active,
.transition-fadeLeft-enter-active {
  transition: opacity 250ms ease, transform 250ms ease;
}

// fadeIn right fadeOut left
.transition-fadeMixRight-enter {
  opacity: 0;
  transform: translate3d(10%, 0, 0);
}
.transition-fadeMixRight-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.transition-fadeMixRight-exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.transition-fadeMixRight-exit-active {
  opacity: 0;
  transform: translate3d(10%, 0, 0);
}
.transition-fadeMixRight-exit-active,
.transition-fadeMixRight-enter-active {
  transition: opacity 250ms ease, transform 250ms ease;
}

// fadeIn left fadeOut right
.transition-fadeMixLeft-enter {
  opacity: 0;
  transform: translate3d(-10%, 0, 0);
}
.transition-fadeMixLeft-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.transition-fadeMixLeft-exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.transition-fadeMixLeft-exit-active {
  opacity: 0;
  transform: translate3d(-10%, 0, 0);
}
.transition-fadeMixLeft-exit-active,
.transition-fadeMixLeft-enter-active {
  transition: opacity 250ms ease, transform 250ms ease;
}

// fadeIn top fadeOut bottom
.transition-fadeMixTop-enter {
  opacity: 0;
  transform: translate3d(0, -10%, 0);
}
.transition-fadeMixTop-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.transition-fadeMixTop-exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.transition-fadeMixTop-exit-active {
  opacity: 0;
  transform: translate3d(0, -10%, 0);
}
.transition-fadeMixTop-exit-active,
.transition-fadeMixTop-enter-active {
  transition: opacity 250ms ease, transform 250ms ease;
}

// fadeIn bottom fadeOut top
.transition-fadeMixBottom-enter {
  opacity: 0;
  transform: translate3d(0, 10%, 0);
}
.transition-fadeMixBottom-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.transition-fadeMixBottom-exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.transition-fadeMixBottom-exit-active {
  opacity: 0;
  transform: translate3d(0, 10%, 0);
}
.transition-fadeMixBottom-exit-active,
.transition-fadeMixBottom-enter-active {
  transition: opacity 250ms ease, transform 250ms ease;
}
// fadeIn top fadeOut top
.transition-fadeTop-enter {
  opacity: 0;
  transform: translate3d(0, 5%, 0);
}
.transition-fadeTop-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.transition-fadeTop-exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.transition-fadeTop-exit-active {
  opacity: 0;
  transform: translate3d(0, -5%, 0);
}
.transition-fadeTop-exit-active,
.transition-fadeTop-enter-active {
  transition: opacity 250ms ease, transform 250ms ease;
}

// fadeIn top fadeOut top
.transition-fadeTop-enter {
  opacity: 0;
  transform: translate3d(0, 5%, 0);
}
.transition-fadeTop-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.transition-fadeTop-exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.transition-fadeTop-exit-active {
  opacity: 0;
  transform: translate3d(0, -5%, 0);
}
.transition-fadeTop-exit-active,
.transition-fadeTop-enter-active {
  transition: opacity 250ms ease, transform 250ms ease;
}
