@use "sass:math";

// Variables
// ----------------------------------------------

// default values
$default_font_size: 16;
$fs: $default_font_size;
$max_width: 1920;
$z-layers: (
  '',
);

// grid settings
$grid_columns: 12;
$grid_container_width: 1440px;
$grid_gap: 40px;
$grid_gap_half: math.div($grid_gap, 2); // add math.div because " / " is deprecated and will be removed in Dart Sass 2.0.0.
$grid_breakpoints: (
  xl: 1920,
  l: 1280,
  m: 1024,
  s: 768,
  xs: 375,
  xxs: 320,
);

// colors (color names by figma)
$black: #0C1329;
$black_gradient: linear-gradient(180deg, #98A0BC 0%, #0C1329 100%);
$green: #40BCA3;
$white: #ffffff;
$stroke: #DCE2F5;
$red: #BC4040;
$grey_text: #545869;
$grey_bg: #F2F4FB;
$grey_icon: #C4CEED;
$grey_icon_hover: #98A0BC;