// utils
@import "reset";
@import "variables";
@import "functions";
@import "mixins";
@import "transition";
@import "terms"; // FIXME need refactoring, because it's fast decision
@import "aos/src/sass/aos.scss";

html {
  font-size: 16px;

  // media
  @include media(1920, min) {
    font-size: responsive(16, 1);
  }
  @include MQ(1800) {
    font-size: 18px;
  }
  @include MQ(1600) {
    font-size: 17px;
  }
  @include MQ(1300) {
    font-size: 16px;
  }
  // media

}
.cookies {
  overflow: hidden;
}
.app {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}
.main {
  position: relative;
  display: block;
  padding: rem(50) 0 rem(128);

  //media
  @include MQ(1000) {
    padding: rem(40) 0 rem(100);
  }
  @include MQ(500) {
    padding: rem(16) 0 rem(100);
  }
  //media

}
.section {
  position: relative;
  margin-bottom: rem(128);

  &:last-child {
    margin-bottom: 0;
  }
}
.container {
  @include container(rem($grid_container_width), rem($grid_gap_half));

  //media
  @include MQ(1800) {
    @include container(rem(944), rem(12));
  }
  @include MQ(1000) {
    @include container(rem(688), rem(12));
  }
  @include MQ(500) {
    @include container(rem(300), rem(12));
  }
  //media

  &_responsive {

    //media
    @include MQ(500) {
      width: auto;
    }
    //media

  }

  &_text {
    max-width: rem(662);

    //media
    @include MQ(600) {
      width: auto;
      padding-left: rem(24);
      padding-right: rem(24);
    }
    //media
  }
}
.row {
  @include row(rem($grid_gap_half));

  //media
  @include MQ(1800) {
    @include row(rem(12));
  }
  //media

}
.col {
  @include col;
}
.title {
  $fs: 40;

  text-align: center;
  font-size: rem($fs);
  line-height: em(48, $fs);
  font-weight: 600;
  color: $black;

  //media
  @include MQ(600) {
    $fs: 32;

    font-size: rem($fs);
  }
  //media

}
.subtitle {
  $fs: 16;

  text-align: center;
  font-size: rem($fs);
  line-height: em(24, $fs);
  margin: em(16, $fs) auto 0;
  color: $grey_text;

  //media
  @include MQ(600) {
    $fs: 14;

    font-size: rem($fs);
  }
  //media

}
