// utils
@import "app/styles/variables";
@import "app/styles/mixins";
@import "app/styles/functions";
// ui
@import "app/styles/UI/c-button";


// Section hero ----------------------------------------------------------------------------------------
.hero {
  content: 'hero';
  min-height: 65vh;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    //media
    @include MQ(1800) {
      margin-left: rem(-12);
      margin-right: rem(-12);
    }
    @include MQ(1000) {
      display: block;
    }
    //media

  }

  &__info {
    position: relative;
    width: rem(560);
    margin-top: rem(120);
    margin-left: rem(120);

    //media
    @include MQ(1800) {
      width: rem(379);
      margin-top: rem(14);
      margin-left: rem(81);
    }
    @include MQ(1000) {
      width: 100%;
      margin-top: 0;
      margin-left: 0;
      padding: 0 rem(12);
      text-align: center;
    }
    //media

  }
  &__title {
    $fs: 56;

    font-size: rem($fs);
    line-height: em(64, $fs);
    font-weight: 800;
    color: $black;

    //media
    @include MQ(1800) {
      $fs: 40;

      font-size: rem($fs);
    }
    @include MQ(500) {
      $fs: 32;

      font-size: rem($fs);
    }
    //media

  }
  &__subtitle {
    $fs: 18;

    font-size: rem($fs);
    margin-top: em(24, $fs);
    line-height: 1.5;
    color: $grey_text;

    //media
    @include MQ(1800) {
      $fs: 16;

      font-size: rem($fs);
      margin-top: em(16, $fs);
    }
    @include MQ(1000) {
      max-width: rem(450);
      margin: em(16, $fs) auto 0;
    }
    //media

  }
  &__button {
    $fs: 14;

    margin-top: em(48, $fs);
    padding: em(20 61, $fs);

    //media
    @include MQ(1800) {
      margin-top: em(40, $fs);
    }
    @include MQ(1000) {
      margin-top: em(24, $fs);
    }
    @include MQ(500) {
      padding: em(16 61, $fs);
    }
    //media

  }

  &__bio-wrapper {
    position: relative;
    width: rem(440);
    padding: rem(25);
    overflow: hidden;
    border-radius: rem(50);
    background: #fff;
    box-shadow: 0 rem(2) rem(4) #DFE3F0, 0 rem(6) rem(14) #E0E2E9, 0px -1px rem(4) rgba(223, 227, 240, 0.6);
    z-index: 1;

    //media
    @include MQ(1800) {
      width: rem(299);
      padding: rem(17);
      border-radius: rem(34);
    }
    @include MQ(1000) {
      margin: rem(64) auto 0;
    }
    @include MQ(500) {
      width: rem(200);
      padding: rem(10);
      margin: rem(30) auto 0;
      border-radius: rem(20);
    }
    //media

  }
  &__bio-slider {
    overflow: hidden;
    height: 100%;
    border-radius: rem(35);

    //media
    @include MQ(1800) {
      border-radius: rem(24);
    }
    @include MQ(500) {
      border-radius: rem(15);
    }
    //media


    & > div {
      transition-timing-function: ease-in-out;
      //transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
    }
  }
  &__bio-slide {
    content: 'bio-slide';
  }
  &__bio-site {
    font-size: rem(16);
  }

  &__cards-wrapper {
    position: relative;
    margin-top: rem(-370);
    z-index: 0;

    //media
    @include MQ(1800) {
      margin-top: rem(-280);
      margin-left: rem(-12);
      margin-right: rem(-12);
    }
    @include MQ(1000) {
      margin-top: rem(-450);
      margin-bottom: rem(300);
    }
    @include MQ(500) {
      margin-top: rem(-260);
      margin-bottom: rem(150);
    }
    //media

  }
  &__cards-slider {
    position: relative;
    overflow: visible;

    & > div {
      transition-timing-function: ease-in-out;
      //transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
    }
  }
  &__cards-slide {
    width: rem(440);
    margin-right: rem($grid_gap);

    //media
    @include MQ(1800) {
      width: rem(298);
      margin-right: rem(24);
    }
    @include MQ(1000) {
      left: rem(12);
    }
    @include MQ(500) {
      width: rem(200);
      margin-right: rem(12);
      left: rem(6);
    }
    //media

  }
}
// Section hero ----------------------------------------------------------------------------------------



// Section social --------------------------------------------------------------------------------------
.social {
  margin-top: rem(128);
  $this: &;

  //media
  @include MQ(1000) {
    margin-top: rem(80);
  }
  //media


  &__container {

  }
  &__block {
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(64);

    //media
    @include MQ(500) {
      flex-flow: column;
    }
    //media

  }
  &__info {
    @include col(5, $grid_columns, rem($grid_gap));

    //media
    @include MQ(1000) {
      @include col(3, 6, rem(24));
    }
    @include MQ(500) {
      width: 100%;
      order: 2;
      margin-top: rem(41);
    }
    //media

  }
  &__title {
    $fs: 40;

    font-size: rem($fs);
    font-weight: 600;
    line-height: em(48, $fs);
    color: $black;

    //media
    @include MQ(1800) {
      $fs: 32;

      font-size: rem($fs);
    }
    //media

  }
  &__description {
    $fs: 18;

    font-size: rem($fs);
    margin-top: em(16, $fs);
    line-height: em(28, $fs);
    color: $grey_text;

    //media
    @include MQ(1800) {
      $fs: 16;

      font-size: rem($fs);
    }
    //media

  }
  &__image {
    $fs: 16;
    @include col(6, $grid_columns, rem($grid_gap));

    position: relative;
    margin: em(89 0 104, $fs);
    font-size: $fs + px;

    //media
    @include media(1920, min) {
      font-size: responsive(16, 1);
    }
    @include MQ(1800) {
      $fs: 12;

      font-size: $fs + px;
    }
    @include MQ(1000) {
      $fs: 8;

      font-size: $fs + px;
      @include col(3, 6, rem(24));
    }
    @include MQ(500) {
      $fs: 7.3;

      font-size: $fs + px;
      width: 100%;
    }
    //media

  }
  &__cards {
    justify-content: center;
  }
}
// Section social -----------------------------------------------------------------------------------------------------


// Section example -------------------------------------------------------------------------------------
.example {
  padding: rem(64) 0;
  background: linear-gradient(180deg, #273151 0%, #0C1329 100%);
  box-shadow: 0 rem(2) rem(4) #DFE3F0, 0 rem(6) rem(14) #E0E2E9;

  &__title {
    $fs: 40;

    text-align: center;
    font-size: rem($fs);
    line-height: em(48, $fs);
    font-weight: 600;
    color: #fff;

    //media
    @include MQ(1500) {
      $fs: 32;

      font-size: rem($fs);
    }
    //media

  }
  &__action {
    text-align: center;
    margin-top: rem(80);

    //media
    @include MQ(500) {
      margin-top: rem(65);
    }
    //media

  }
  &__button {
    $fs: 14;

    padding: em(20, $fs) em(61, $fs);

    //media
    @include MQ(500) {
      padding: em(16 61, $fs);
    }
    //media

  }
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-top: rem(24);
  $this: &;

  &__header {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: visible;

    //media
    @include MQ(500) {
      justify-content: center;
      overflow: scroll;
      width: rem(500);
    }
    //media


    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      border-radius: 50px;
      background: #72788D;
      z-index: 0;

      //media
      @include MQ(500) {
        top: auto;
        bottom: 0;
      }
      //media

    }
  }
  &__button {
    $fs: 16;

    position: relative;
    padding: 0 0 em(16, $fs);
    font-size: rem($fs);
    font-weight: 600;
    line-height: em(24, $fs);
    color: $grey_icon_hover;
    transition: color .25s ease;
    z-index: 1;

    //media
    @include MQ(1500) {
      $fs: 14;

      font-size: rem($fs);
    }
    @include MQ(500) {
      flex-shrink: 0;
      padding: 0 em(10, $fs) em(16, $fs);
    }
    //media

    &:not(:last-child) {
      margin-right: em(24, $fs);

      //media
      @include MQ(500) {
        margin-right: 0;
      }
      //media

    }

    &::before {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: rem(2);
      background: $green;
      border-radius: 50px 50px 0 0;
      transform-origin: center center;
      transform: scale(0, 1);
      transition: transform .25s ease;

      //media
      @include MQ(500) {
        bottom: 0;
      }
      //media

    }

    @include on-hover {
      color: $green;

      &::before {
        //transform: scale(.3, 1);
      }
    }

    &_active {
      color: $green;

      &::before {
        transform: scale(1, 1);
      }

      @include on-hover {
        &::before {
          transform: scale(1, 1);
        }
      }
    }
  }
  &__content {
    margin-top: rem(80);

    //media
    @include MQ(500) {
      margin-top: rem(65);
    }
    //media

  }
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
  }
  &__image {
    @include col(8, $grid_columns, rem($grid_gap));
    overflow: hidden;
    border-radius: rem(11);

    //media
    @include MQ(1800) {
      @include col(10, $grid_columns, rem(24));
    }
    @include MQ(1000) {
      @include col(6, 6, rem(24));
      border-radius: rem(8);
    }
    @include MQ(500) {
      width: 100%;
      min-width: rem(300);
      border-radius: rem(6);
    }
    //media

  }
  &__bio-site {
    position: absolute;
    top: 50%;
    right: em(235, $fs);
    color: #fff;
    width: em(305, $fs);
    height: auto;
    padding: em(30 20 28, $fs);
    font-size: rem(16);
    will-change: transform;
    transform: translate3d(0,-50%,0);

    //media
    @include MQ(1800) {
      right: em(66, $fs);
      width: em(260, $fs);
      padding: em(25 16 23, $fs);
    }
    @include MQ(1000) {
      width: em(220, $fs);
      padding: em(22 14 20, $fs);
      right: 0;
    }
    @include MQ(700) {
      font-size: rem(14);
    }
    @include MQ(600) {
      font-size: rem(12);
    }
    @include MQ(500) {
      font-size: rem(8);
    }
    //media
  }
}
// Section example -------------------------------------------------------------------------------------


// Section benefits ------------------------------------------------------------------------------------
.benefits {
  content: 'benefits';

  &__block {
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(128);

    //media
    @include MQ(1000) {
      margin-bottom: rem(95);
    }
    //media

  }
  &__image {
    $fs: 16;
    @include col(6, $grid_columns, rem($grid_gap));

    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: $fs + px;

    //media
    @include MQ(1800) {
      $fs: 12;

      font-size: $fs + px;
    }
    @include MQ(1000) {
      $fs: 8;
      @include col(3, 6, rem(24));

      font-size: $fs + px;
    }
    @include MQ(500) {
      $fs: 7.3;

      font-size: $fs + px;
      width: 100%;
      justify-content: center;
    }
    //media

    &_left {
      content: 'left';
    }
    &_right {
      content: 'right';
    }
  }
  &__info {
    @include col(5, $grid_columns, rem($grid_gap));

    //media
    @include MQ(1000) {
      @include col(3, 6, rem(24));
    }
    @include MQ(500) {
      width: 100%;
      margin-top: rem(32);
    }
    //media

    &_left {

      //media
      @include MQ(500) {
        order: 2;
      }
      //media

    }
  }
  &__title {
    $fs: 40;

    font-size: rem($fs);
    line-height: em(48, $fs);
    font-weight: 600;
    color: $black;

    //media
    @include MQ(1800) {
      $fs: 32;

      font-size: rem($fs);
    }
    @include MQ(1000) {
      $fs: 24;

      font-size: rem($fs);
    }
    //media

  }
  &__description {
    $fs: 18;

    margin-top: em(16, $fs);
    font-size: rem($fs);
    line-height: em(28, $fs);
    color: $grey_text;

    //media
    @include MQ(1800) {
      $fs: 16;

      font-size: rem($fs);
    }
    //media

  }
  &__list {
    margin-top: rem(40);

    //media
    @include MQ(1000) {
      margin-top: rem(30);
    }
    //media

  }
  &__item {
    $fs: 18;

    position: relative;
    padding-left: em(16, $fs);
    font-size: rem($fs);
    line-height: em(24, $fs);
    font-weight: 600;

    &:not(:last-child) {
      margin-bottom: em(16, $fs);
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      @include size(em(8, $fs));
      margin-right: em(8, $fs);
      background: $green;
      border-radius: 50px;
      transform: translateY(-50%);
    }

    //media
    @include MQ(1800) {
      $fs: 16;

      font-size: rem($fs);
    }
    //media

  }
}
// Section benefits ------------------------------------------------------------------------------------


// Section whom ----------------------------------------------------------------------------------------
.whom {
  padding: rem(64) 0;
  background: linear-gradient(180deg, #F3F6FD 0%, rgba(255, 255, 255, 0) 100%);

  &__title {
    $fs: 40;

    font-size: rem($fs);
    line-height: em(48, $fs);
    font-weight: 600;
    text-align: center;
    color: $black;
  }
  &__subtitle {
    $fs: 18;

    max-width: em(680, $fs);
    margin: em(16, $fs) auto 0;
    font-size: rem($fs);
    line-height: em(28, $fs);
    text-align: center;
    color: $grey_text;

    //media
    @include MQ(1800) {
      $fs: 16;

      font-size: rem($fs);
      max-width: em(460, $fs);
    }
    //media

  }
  &__block {
    margin-top: rem(64);
  }
  &__slider {
    overflow: visible;

    & > div {
      transition-timing-function: linear
    }
  }
  &__slide {
    width: auto;

    &:nth-child(even) {
      & > div {
        transform: translateY(rem(60));
      }
    }
  }
}
// Section whom ----------------------------------------------------------------------------------------
