// utils
@import "app/styles/variables";
@import "app/styles/mixins";

.pricing {

  &__subtitle {
    max-width: em(460, $fs);
  }
  &__cards {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: rem(64);

    //media
    @include MQ(600) {
      flex-flow: column;
    }
    //media

  }
}
