@import "vars";
@import "mixins";

.container {
  @include container
}
.row {
  @include row
}
@each $bp, $width in $grid_breakpoints {
  @include media($width) {
    @for $i from 1 through $grid_columns {
      .col-#{$bp}-#{$i} {
        @include col($i)
      }
    }
  }
}