@import "vars";

@mixin container {
  max-width: $grid_container_width;
  margin: 0 auto;
  padding-left: $grid_gap_half;
  padding-right: $grid_gap_half;
}
@mixin row {
  display: flex;
  flex-flow: wrap;
  margin: 0 #{-$grid_gap_half};

  & > * {
    width: 100%;
    max-width: 100%;
    margin: $grid_gap_half $grid_gap_half 0;
  }
}
@mixin col($size: 0) {
  @if ($size) {
    flex: 0 0 auto;
    width: calc(#{percentage($size / $grid-columns)} - #{$grid-gap});
  } @else {
    flex: 1 0 0;
  }
}
