// utils
@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.card {
  position: relative;
  display: flex;
  flex-flow: column;
  padding: rem(16);
  background: #fff;
  box-shadow: 0 rem(2) rem(4) #DFE3F0, 0 rem(6) rem(14) #E0E2E9, 0px -1px rem(4) rgba(223, 227, 240, 0.6);
  border-radius: rem(10);
  pointer-events: none;
  $this: &;

  //media
  @include MQ(500) {
    padding: rem(10);
  }
  //media

  &__title {
    $fs: 16;

    font-size: rem($fs);
    margin-bottom: em(8, $fs);
    line-height: em(24, $fs);
    font-weight: 600;
    color: $black;

    //media
    @include MQ(500) {
      $fs: 12;

      font-size: rem($fs);
      margin-bottom: em(4, $fs);
    }
    //media

  }
  &__image {
    flex: 1 1 100%;
    border-radius: rem(10);
    overflow: hidden;
    transform: translateZ(0);

    img {
      @include imageObjectFit;
      transform: translate3d(0,0,0) scale(1);
      transition: transform .25s ease;
    }
  }

  @include on-hover {
    #{$this} {
      &__image img {
        transform: translate3d(0, 0, 0) scale(1.1);
      }
    }
  }

  &_size-l {
    @include col(4, $grid_columns, rem($grid_gap));
    pointer-events: auto;

    //media
    @include MQ(1800) {
      @include col(4, $grid_columns, rem(24));
    }
    @include MQ(1000) {
      @include col(3, 6, rem(24));
      margin-bottom: rem(24);
    }
    @include MQ(500) {
      width: 100%;
    }
    //media

    #{$this} {
      &__title {
        $fs: 24;

        font-size: rem($fs);
        margin-bottom: em(16, $fs);
        font-weight: 600;
        line-height: em(32, $fs);

        //media
        @include MQ(1800) {
          $fs: 20;

          font-size: rem($fs);
        }
        //media

      }
    }
  }
}
