@use "sass:math";
// utils
@import "app/styles/variables";
@import "app/styles/mixins";

.toggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include size(em(32, $fs));
  cursor: pointer;
  transform: translate3d(0,0,0) scale(1);
  border-radius: em(4, $fs);
  background: rgba(242, 244, 251, 0);
  transition: background .5s ease;
  $this: &;

  &__checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + #{$this}__slider {
      background: $green;

      &::before {
        transform: translate3d(12px, -50%, 0);
      }
    }

    &:focus-visible + #{$this}__slider {
      outline:  1px solid -webkit-focus-ring-color;
      border-radius: 50px;
    }
  }
  &__slider {
    position: relative;
    display: block;
    width: em(24, $fs);
    height: em(14, $fs);
    padding: em(2, $fs);
    border-radius: 50px;
    background: $stroke;
    transform: translate3d(0, 0, 0) scale(1);
    transition: background .25s ease, transform .25s ease;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      left: 0;
      width: em(10, $fs);
      height: em(10, $fs);
      border-radius: 50px;
      background-color: #fff;
      transform: translate3d(em(2, $fs), -50%, 0);
      transition: transform .25s ease;
    }
  }

  &:focus {
    background: rgba(242, 244, 251, 1);
  }
  &:active {
    #{$this} {
      &__slider {
        transform: translate3d(0,0,0) scale(.9);
      }
    }
  }
  @include on-hover {
    background: rgba(242, 244, 251, 1);
  }
}
