// utils
@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";
// ui
@import "../../../../../styles/UI/c-button";

.plan {
  position: relative;
  box-shadow:
    inset 0 0 0 1px #DCE2F5,
    0 rem(2) rem(4) #DFE3F0;
  border-radius: rem(8);
  max-width: rem(379);
  transform: translate3d(0,0,0) scale(1);
  transition: transform .25s ease;
  $this: &;

  //media
  @include MQ(600) {
    max-width: 100%;
  }
  //media

  &:not(:last-child) {
    margin-right: rem(24);

    //media
    @include MQ(600) {
      margin-right: rem(0);
      margin-top: rem(24);
    }
    //media

  }

  &__header {
    padding: rem(24);
    text-align: center;
    border-bottom: 1px solid $stroke;
  }
  &__name {
    $fs: 24;

    font-size: rem($fs);
    line-height: em(32, $fs);
    font-weight: 600;
    text-transform: uppercase;
    color: currentColor;
  }
  &__price {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: rem(24);
  }
  &__price-sum {
    $fs: 48;

    font-size: rem($fs);
    line-height: em(32, $fs);
    font-weight: 600;
    color: $green;
    text-transform: uppercase;
    margin-right: em(5, $fs);

    //media
    @include MQ(500) {
      $fs: 40;

      font-size: rem($fs);
    }
    //media

  }
  &__price-type {
    $fs: 16;

    font-size: rem($fs);
    line-height: em(24, $fs);
    color: $grey_icon_hover;
  }
  &__body {
    padding: rem(24);
  }
  &__list {}
  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: rem(16);
    }

    &_active {}
  }
  &__item-icon {
    position: relative;
    flex-shrink: 0;
    top: rem(4);
    @include size(rem(16));
    margin-right: rem(8);

    //media
    @include MQ(500) {
      top: rem(3);
    }
    //media


    &_yes {
      fill: $green;
    }
    &_no {
      fill: $grey_icon_hover;

      path {
        fill: #fff;
      }
    }
  }
  &__item-text {
    $fs: 16;

    font-size: rem($fs);
    line-height: em(24, $fs);

    //media
    @include MQ(500) {
      $fs: 14;

      font-size: rem($fs);
    }
    //media

  }
  &__action {
    margin-top: rem(40);
    display: flex;
    justify-content: center;
  }
  &__button {
    $fs: 14;

    padding: em(12 24, $fs);

    &_secondary {}
  }

  @include on-hover {
    transform: translate3d(0,0,0) scale(1.05);
  }

  &_basic {

    //media
    @include MQ(600) {
      order: 2;
    }
    //media

  }
  &_pro {
    background: linear-gradient(166.24deg, #273152 0%, #0C132A 100%);
    box-shadow: 0 rem(2) rem(4) #DFE3F0;
    color: #fff;

    #{$this} {
      &__header {
        border-bottom: 1px solid rgba(255,255,255, .1);
      }
    }
  }
}
