// utils
@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.whomCard {
  display: block;
  flex-shrink: 0;
  padding: 16px;
  max-width: 320px;
  min-width: 200px;
  text-align: center;
  border-radius: 10px;
  $this: &;

  &__url {
    padding: 4px 10px;
    text-align: left;
    border-radius: 50px;
    @include textDots;
  }
  &__url-text {
    font-size: 14px;
    line-height: 16px;
  }
  &__logo {
    @include size(96px);
    margin: 24px auto 0;
    border-radius: 50px;
    overflow: hidden;
    transform: translateZ(0);

    img {
      @include imageObjectFit();
      transform: translate3d(0,0,0) scale(1);
      transition: transform .25s ease;
    }
  }
  &__title {
    margin-top: 16px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: currentColor;
  }
  &__subtitle {
    font-size: 16px;
    line-height: 24px;
    color: currentColor;
  }

  @include on-hover {
    #{$this} {
      &__logo img {
        transform: translate3d(0,0,0) scale(1.3);
      }
    }
  }

  &_style-1 {
    color: #fff;
    background: #FF5500;

    #{$this} {
      &__url {
        background: #FF7631;
      }
      &__url-text_default {
       color: #e04c02;
      }
    }
  }
  &_style-2 {
    color: #fff;
    background: #000;

    #{$this} {
      &__url {
        background: #1D1D1D;
      }
      &__url-text_default {
        color: $grey_text;
      }
    }
  }
  &_style-3 {
    color: #000;
    background: linear-gradient(-90deg, #1D976C 6.25%, #93F9B9 100%);

    #{$this} {
      &__url {
        background: #B4F4CF;
      }
      &__url-text_default {
        color: #32A47B;
      }
    }
  }
  &_style-4 {
    color: #000;
    background: linear-gradient(0deg, #FFB347 0%, #FFCC33 100%);

    #{$this} {
      &__url {
        background: #FCD76C;
      }
      &__url-text_default {
        color: #C78300;
      }
    }
  }
  &_style-5 {
    color: #fff;
    background: #9147FF;

    #{$this} {
      &__url {
        background: #A263FF;
      }
      &__url-text_default {
        color: #B888FF;
      }
    }
  }
  &_style-6 {
    color: #fff;
    background: linear-gradient(180deg, #0575E6 0%, #021B79 100%);

    #{$this} {
      &__url {
        background: #127DEB;
      }
      &__url-text_default {
        color: #53A0F6;
      }
    }
  }
  &_style-7 {
    color: #000;
    background: linear-gradient(-90deg, #8E9EAB 0%, #EEF2F3 100%);

    #{$this} {
      &__url {
        background: #B8C4CD;
      }
      &__url-text_default {
        color: #8E9EAB;
      }
    }
  }
  &_style-8 {
    color: #fff;
    background: linear-gradient(90deg, #F4C4F3 0%, #FC67FA 100%);

    #{$this} {
      &__url {
        background: #FCA8FB;
      }
      &__url-text_default {
        color: #FFCDFD;
      }
    }
  }
  &_style-9 {
    color: #000;
    background: #FFEFBA;

    #{$this} {
      &__url {
        background: #FFF7DB;
      }
      &__url-text_default {
        color: #F1C83C;
      }
    }
  }
  &_style-10 {
    color: #fff;
    background: linear-gradient(90deg, #8E2DE2 0%, #4A00E0 100%);

    #{$this} {
      &__url {
        background: #8640F2;
      }
      &__url-text_default {
        color: #AB6FEB;
      }
    }
  }
  &_style-11 {
    color: #fff;
    background: #55BCA6;

    #{$this} {
      &__url {
        background: #6DC7B4;
      }
      &__url-text_default {
        color: #A0D7CB;
      }
    }
  }
  &_style-12 {
    color: #fff;
    background: linear-gradient(-90deg, #200122 0%, #6F0000 100%);

    #{$this} {
      &__url {
        background: #760105;
      }
      &__url-text_default {
        color: #901A1E;
      }
    }
  }
}
