// utils
@import "app/styles/variables";
@import "app/styles/mixins";

.footer {
  position: relative;
  display: block;
  padding: rem(64) 0;
  background: linear-gradient(180deg, #F3F6FD 0%, #fff 100%);

  //media
  @include MQ(600) {
    padding: rem(64) rem(12);
  }
  //media

  &__row {

    //media
    @include MQ(600) {
      flex-flow: column;
    }
    //media

  }
  &__column {
    @include col(3, $grid_columns, rem($grid_gap));

    //media
    @include MQ(1000) {
      @include col(2, 6, rem(24));
    }
    @include MQ(600) {
      width: 100%;
      margin: 0 0 rem(40);
    }
    //media


    &_big {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      flex: 1;

      //media
      @include MQ(1000) {
        flex: initial;
      }
      @include MQ(600) {
        display: block;
      }
      //media

    }
    &_mobile {
      display: none;

      //media
      @include MQ(600) {
        display: block;
        text-align: center;
        margin-bottom: 0;
      }
      //media
    }
  }
  &__logo {
    display: block;
    width: rem(108);

    //media
    @include MQ(600) {
      width: rem(81);
    }
    //media

  }
  &__copyright {
    $fs: 12;

    font-size: rem($fs);
    line-height: em(16, $fs);
    color: $grey_text;

    &_desktop {
      //media
      @include MQ(600) {
        display: none;
      }
      //media
    }
  }
  &__item {
    $fs: 14;

    display: block;
    font-size: rem($fs);
    line-height: em(16, $fs);
    color: $grey_text;
    text-decoration: none;
    transition: color .25s ease;

    &:not(:last-child) {
      margin-bottom: em(24, $fs);
    }

    @include on-hover {
      color: $black;
    }

  }
  &__title {
    $fs: 16;

    display: block;
    font-size: rem($fs);
    line-height: em(20, $fs);
    font-weight: 600;
    color: $black;
    margin-bottom: em(24, $fs);
  }

  &_cookies {
    padding-bottom: rem(200);
  }
}
