.loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  &__logo {
    position: relative;
    overflow: hidden;
    transform-origin: center;
    transform: translate3d(0,0,0) scale(1, 1);
    transition: all .5s ease;

    img {
      max-width: initial;
    }
  }
}
