// utils
@import "../../../styles/variables";
@import "../../../styles/mixins";
// ui
@import "../../../styles/UI/c-button";

.cookies {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 100;
  $this: &;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    cursor: pointer;
    opacity: 0;
    z-index: 0;
    transition: opacity .25s ease;
  }
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    @include size(100%);
    pointer-events: none;
    z-index: 1;

    &_notification {
      align-items: flex-end;
    }
    &_settings {
      align-items: center;
    }
  }

  &_active {
    pointer-events: auto;

    #{$this} {
      &__overlay {
        opacity: 1;
        transition: opacity .25s ease;
      }
    }
  }
}

.notification {
  position: relative;
  display: flex;
  max-width: rem(950);
  width: 100%;
  margin: 0 0 rem(24);
  border-radius: rem(4);
  box-shadow: 0 rem(2) rem(4) rgba(104, 117, 159, 0.1), 0 rem(6) rem(14) rgba(104, 117, 159, 0.1), 0 -1px rem(4) rgba(104, 117, 159, 0.1);
  background: #fff;
  padding: rem(24) rem(40);
  pointer-events: auto;

  //media
  @include MQ(1800) {
    max-width: rem(920);
  }
  @include MQ(1000) {
    margin: 0 rem(24) rem(24);
  }
  @include MQ(600) {
    flex-flow: column;
    padding: rem(24) rem(20);
    margin: 0 rem(20) rem(24);
  }
  //media


  &__info {
    margin-right: rem(30);

    //media
    @include MQ(600) {
      margin: 0;
    }
    //media

  }
  &__text {
    $fs: 14;

    font-size: rem($fs);
    color: $grey_text;

    &_link {
      position: relative;
      display: inline-block;
      white-space: nowrap;
      color: $black;
      text-decoration: none;
      transition: color .25s ease;

      &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: currentColor;
        transform-origin: 100% 50%;
        transform: scale3d(1,1,1);
        transition: transform .25s ease;
      }

      @include on-hover {
        color: $green;

        &::before {
          transform-origin: 0 50%;
          transform: scale3d(0,1,1);
        }
      }
    }
  }
  &__action {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    //media
    @include MQ(1000) {
      flex-flow: column;
    }
    @include MQ(600) {
      flex-flow: row;
      margin-top: rem(16);
    }
    //media

  }
  &__button {
    $fs: 14;

    padding: em(8 16, $fs);

    //media
    @include MQ(1000) {
      flex: 1;
      width: 100%;
    }
    @include MQ(600) {
      padding: em(8 14, $fs);
    }
    @include MQ(374) {
      $fs: 11;

      font-size: rem($fs);
      padding: em(10 10, $fs);
    }
    //media

    &_secondary {
      margin-right: em(16, $fs);

      //media
      @include MQ(1000) {
        margin-right: 0;
        margin-bottom: em(10, $fs);
      }
      @include MQ(600) {
        margin-right: em(10, $fs);
        margin-bottom: 0;
      }
      //media

    }
  }
}
.settings {
  position: relative;
  max-width: rem(620);
  width: 100%;
  margin: 0 rem(20);
  padding: rem(40) rem(24);
  border-radius: rem(4);
  box-shadow: 0 rem(2) rem(4) rgba(104, 117, 159, 0.1), 0 rem(6) rem(14) rgba(104, 117, 159, 0.1), 0 -1px rem(4) rgba(104, 117, 159, 0.1);
  background: #fff;
  pointer-events: auto;
  $this: &;

  //media
  @include MQ(600) {
    display: flex;
    flex-flow: column;
    margin: 0;
    height: 100%;
    border-radius: 0;
    overflow: auto;
  }
  //media


  &__close {
    position: absolute;
    top: rem(20);
    right: rem(20);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(5);
    will-change: transform;
    transform: translate3d(0,0,0) scale(1) rotate(0);
    transition: transform .25s ease;

    //media
    @include MQ(600) {
      top: rem(10);
      right: rem(10);
    }
    //media


    @include on-hover {
      transform: translate3d(0,0,0) scale(1) rotate(90deg);

      #{$this} {
        &__close-icon {
          fill: $grey_text;
        }
      }
    }

    &:active {
      transform: translate3d(0,0,0) scale(.9) rotate(90deg);
    }
  }
  &__close-icon {
    fill: $grey_icon_hover;
    transition: fill .25s ease;
  }

  &__title {
    $fs: 24;

    font-size: rem($fs);
    line-height: em(32, $fs);
    font-weight: 600;
    margin-bottom: em(8, $fs);

    //media
    @include MQ(600) {
      $fs: 22;

      font-size: rem($fs);
    }
    //media

  }
  &__body {
    flex: 1;
  }
  &__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: rem(24);

    //media
    @include MQ(600) {
      justify-content: center;
      flex-flow: column;
      margin-top: rem(40);
    }
    //media

  }
  &__button {
    $fs: 14;

    padding: em(12 24, $fs);

    &:not(:last-child) {
      margin-right: em(16, $fs);

      //media
      @include MQ(600) {
        margin-right: 0;
        margin-bottom: rem(16);
      }
      //media

    }

    &_secondary {}
  }
}
