// utils
@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.socialCard {
  font-size: inherit;
  width: 100%;
  max-width: em(440, $fs);
  padding: em(24 24 0, $fs);
  border-radius: em(15, $fs);
  pointer-events: none;
  $this: &;

  &__icon {
    position: absolute;
    top: em(14, $fs);
    right: em(14, $fs);
    @include size(em(60, $fs));
  }
  &__logo {
    @include size(em(95, $fs));
    border-radius: 50px;
    overflow: hidden;

    img {
      @include imageObjectFit
    }
  }
  &__text {
    font-size: em(24, $fs);
    margin-top: em(12, $fs);
    line-height: em(30, $fs);
    font-weight: 600;
  }
  &__decor {
    width: 100%;
    height: em(24, $fs);
    margin-top: em(24, $fs);
    border-radius: 50px;

    &_bottom {
      height: em(105, $fs);
      margin-top: em(59, $fs);
      border-radius: em(15 15 0 0, $fs);
    }
  }

  &_style-1 {
    position: relative;
    color: #fff;
    background: linear-gradient(45deg, #F8CD4D 13.12%, #E23022 47.31%, #AC2AA7 86.88%);
    z-index: 4;

    #{$this} {
      &__icon {
        fill: #fff;
      }
      &__decor {
        background: #E03029;
      }
    }
  }
  &_style-2 {
    position: absolute;
    top: em(104, $fs);
    left: em(220, $fs);
    color: #fff;
    background: #000;
    z-index: 3;

    #{$this} {
      &__icon {
        fill: #fff;
      }
      &__decor {
        background: #1F1F1F;
      }
    }
  }
  &_style-3 {
    position: absolute;
    top: em(-89, $fs);
    left: em(60, $fs);
    color: #000;
    background: #FFFC00;
    z-index: 2;

    #{$this} {
      &__icon {
        fill: #000;
      }
      &__decor {
        background: #FFFFE1;
      }
    }
  }
  &_style-4 {
    position: absolute;
    top: em(16, $fs);
    left: em(170, $fs);
    color: #fff;
    background: #1768FF;
    z-index: 1;

    #{$this} {
      &__icon {
        fill: #fff;
      }
      &__decor {
        display: none;
      }
    }
  }
}
