// utils
@import "app/styles/variables";
@import "app/styles/mixins";


.dropdown {
  position: relative;
  padding: rem(16) 0;
  border-bottom: 1px solid $stroke;
  $this: &;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin-right: rem(8);
    text-align: left;
    color: $black;

    &_active {
      #{$this} {
        &__button-icon {
          transform: translate3d(0, 0, 0) rotate(90deg);
        }
        &__title {
          color: $green;
        }
      }
    }
    &:focus-visible {
      #{$this} {
        &__title {
          outline: 1px solid -webkit-focus-ring-color;
          border-radius: 5px;
        }
      }
    }
  }
  &__button-icon {
    flex-shrink: 0;
    fill: currentColor;
    margin-right: rem(8);
    transform: translate3d(0,0,0) rotate(0);
    transition: transform .25s ease;
  }
  &__toggle {
    font-size: 16px;

    //media
    @include MQ(500) {
      transform: scale(1.4);
      transform-origin: right;
    }
    //media

  }
  &__title {
    $fs: 16;

    flex: 1 1 100%;
    font-size: rem($fs);
    line-height: em(24, $fs);
    color: currentColor;
    transition: color .25s ease;

    @include on-hover {
      color: $green;
    }

    &_always {
      flex: 0 0 auto;
      color: $grey_icon_hover;

      @include on-hover {
        color: $grey_icon_hover;
      }

    }
  }
  &__content {
    padding: rem(16) 0 0;
    scroll-behavior: smooth;
  }
  &__text {
    $fs: 14;

    font-size: rem($fs);
    line-height: em(20, $fs);
    color: $grey_text;
  }
}
