// utils
@import "app/styles/variables";
@import "app/styles/mixins";
// ui
@import "app/styles/UI/c-button";

.header {
  position: relative;
  display: block;

  &__container {

    //media
    @include MQ(500) {
      width: auto;
    }
    //media

  }
  &__navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;

    //media
    @include MQ(500) {
      height: 48px;
    }
    //media

  }
  &__logo {
    margin: 0 20px 0 0;
    width: 108px;

    //media
    @include MQ(500) {
      width: 68px;
    }
    //media

  }
  &__list {

    //media
    @include MQ(600) {
      display: none;
    }
    //media

  }
  &__link {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $grey_text;
    text-decoration: none;
    transition: color .25s ease;

    &_active {
      color: $green;
    }

    @include on-hover {
      //color: #383b46;
      color: $green;
    }
  }
  &__actions {
    margin-left: auto;
  }
  &__button {
    display: inline-block;
    padding: 12px 24px;

    //media
    @include MQ(600) {
      display: none;
      padding: 8px 16px;
      min-width: auto;
    }
    //media

    &_secondary {
      margin-right: 16px;

      //media
      @include MQ(600) {
        display: block;
        margin-right: 0;
      }
      //media

    }
  }
}
