// utils
@import "../../../styles/variables";
@import "../../../styles/mixins";

.site {
  position: relative;
  width: 100%;
  height: 100%;
  //padding: rem(38) rem(25) rem(34);
  padding: em(38 25 34, $fs);
  text-align: center;
  pointer-events: none;
  $this: &;

  //media
  @include MQ(500) {
    //padding: rem(15) rem(10) rem(15);
    padding: em(15 10 15, $fs);
  }
  //media


  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      @include imageObjectFit
    }
  }
  &__logo {
    position: relative;
    @include size(em(152, $fs));
    margin: 0 auto;
    overflow: hidden;
    border-radius: 100px;

    //media
    @include MQ(1800) {
      @include size(em(100, $fs));
    }
    @include MQ(500) {
      @include size(em(62, $fs));
    }
    //media

    img {
      @include imageObjectFit
    }
  }
  &__title {
    $fs: 38;

    font-size: em($fs, $default_font_size);
    position: relative;
    margin-top: em(25, $fs);
    line-height: em(44, $fs);
    font-weight: 600;
    color: currentColor;

    //media
    @include MQ(1800) {
      $fs: 26;

      font-size: em($fs, $default_font_size);
    }
    @include MQ(500) {
      $fs: 15;

      font-size: em($fs, $default_font_size);
    }
    //media
  }
  &__subtitle {
    $fs: 25;

    font-size: em($fs, $default_font_size);
    position: relative;
    margin-top: em(13, $fs);
    line-height: em(38, $fs);
    color: currentColor;

    //media
    @include MQ(1800) {
      $fs: 17;

      font-size: em($fs, $default_font_size);
    }
    @include MQ(500) {
      $fs: 10;

      font-size: em($fs, $default_font_size);
    }
    //media

  }
  &__socials {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: em(35, $fs);

    //media
    @include MQ(1800) {
      margin-top: em(23, $fs);
    }
    @include MQ(500) {
      margin-top: em(14, $fs);
    }
    //media

  }
  &__social {
    display: inline-block;
    padding: 0;
    color: currentColor;
    font-size: inherit;

    &:not(:last-child) {
      margin-right: em(5, $fs);
    }

    svg {
      fill: currentColor;

      //media
      @include MQ(1800) {
        @include size(em(30, $fs));
      }
      @include MQ(500) {
        @include size(em(20, $fs));
      }
      //media
    }
  }
  &__buttons {
    position: relative;
    margin-top: em(63, $fs);

    //media
    @include MQ(1800) {
      margin-top: em(43, $fs);
    }
    @include MQ(500) {
      margin-top: em(26, $fs);
    }
    //media

  }
  &__button {
    $fs: 19;

    font-size: em($fs, $default_font_size);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: em(25, $fs);
    line-height: em(25, $fs);
    color: currentColor;

    &:not(:last-child) {
      margin-bottom: em(25, $fs);
    }

    //media
    @include MQ(1800) {
      $fs: 12;

      font-size: em($fs, $default_font_size);
    }
    @include MQ(500) {
      $fs: 8;

      font-size: em($fs, $default_font_size);
    }
    //media
  }
  &__button-image {
    $fs: 19;

    position: absolute;
    top: 50%;
    left: em(12, $fs);
    @include size(em(50, $fs));
    border-radius: em(4, $fs);
    overflow: hidden;
    transform: translateY(-50%);

    img {
      @include imageObjectFit
    }
  }
  &__button-text {}

  // hero section
  &_style-1 {
    color: #fff;

    #{$this} {
      &__button {
        background: #fff;
        border-radius: em(6, $fs);
        font-weight: 600;
        color: #000;
      }
    }
  }
  &_style-2 {
    color: #fff;

    #{$this} {
      &__bg {
        background: linear-gradient(225deg, #EBC0FF 0%, #92C6FF 100%);

        img {
          display: none;
        }
      }
      &__button {
        background: #fff;
        border-radius: 100px;
        font-weight: 600;
        color: #000;
      }
      &__button-image {
        border-radius: 100px;
      }
    }
  }
  &_style-3 {
    color: #000;

    #{$this} {
      &__button {
        background: #fff;
        font-weight: 600;
        color: #000;
      }
    }
  }
  &_style-4 {
    color: #fff;

    #{$this} {
      &__button {
        box-shadow: 0 0 0 1.5px #fff;
        border-radius: em(6, $fs);
        font-weight: 600;
        text-shadow: 0 0 em(5, $fs) rgba(0,0,0, .5);
      }
    }
  }
  &_style-5 {
    color: #fff;

    #{$this} {
      &__title {
        text-shadow: 0 0 em(10, $fs) rgba(0,0,0, .3);
      }
      &__subtitle {
        text-shadow: 0 0 em(10, $fs) rgba(0,0,0, .3);
      }
      &__button {
        background: #fff;
        border-radius: 100px;
        font-weight: 600;
        color: #000;
      }
    }
  }
  &_style-6 {
    color: #fff;

    #{$this} {
      &__bg {
        background: linear-gradient(180deg, #56CCF2 0%, #2F80ED 100%);

        img {
          display: none;
        }
      }
      &__button {
        color: #0061E3;
        background: #fff;
        font-weight: 600;
      }
      &__button-image {
        border-radius: 0;
      }
    }
  }

  // tabs section
  &_style-tab {
    #{$this} {
      &__bg {
        overflow: hidden;
        border-radius: em(34, $fs);

        img {
          transform: scaleY(-1);
        }
      }
      &__logo {
        @include size(em(120, $fs));

        //media
        @include MQ(1800) {
          @include size(em(100, $fs));
        }
        @include MQ(1000) {
          @include size(em(90, $fs));
        }
        //media

      }
      &__title {
        $fs: 30;

        font-size: em($fs, $default_font_size);
        margin-top: em(20, $fs);
        line-height: em(35, $fs);

        //media
        @include MQ(1800) {
          $fs: 25;

          font-size: em($fs, $default_font_size);
        }
        @include MQ(1000) {
          $fs: 22;

          font-size: em($fs, $default_font_size);
        }
        //media

      }
      &__subtitle {
        $fs: 20;

        font-size: em($fs, $default_font_size);
        margin-top: em(10, $fs);
        line-height: em(30, $fs);

        //media
        @include MQ(1800) {
          $fs: 16;

          font-size: em($fs, $default_font_size);
        }
        @include MQ(1000) {
          $fs: 14;

          font-size: em($fs, $default_font_size);
        }
        //media

      }
      &__socials {
        margin: em(28, $fs) auto 0;

        //media
        @include MQ(1800) {
          margin: em(20, $fs) auto 0;
        }
        //media

      }
      &__social {
        &:not(:last-child) {
          margin-right: em(18, $fs);
        }
      }
      &__buttons {
        margin-top: em(50, $fs);

        //media
        @include MQ(1800) {
          margin-top: em(40, $fs);
        }
        //media

      }
      &__button {
        $fs: 15;

        padding: em(20, $fs);
        font-size: em($fs, $default_font_size);
        font-weight: 600;
        line-height: em(20, $fs);
        background: currentColor;
        border-radius: em(8, $fs);

        &:not(:last-child) {
          margin-bottom: em(20, $fs);
        }


        //media
        @include MQ(1800) {
          $fs: 12;

          padding: em(16, $fs);
          font-size: em($fs, $default_font_size);
        }
      }
      &__button-image {
        left: em(10, $fs);
        @include size(em(40, $fs));
      }
      &__button-text {
        color: #0D142B;
      }
    }
  }
  &_style-tab1 {
    #{$this} {
      &__socials {
        @include animationPulse(socials, 1s, 1, 1.1);
      }
    }
  }
  &_style-tab2 {
    #{$this} {
      &__button {
        &:first-child {
          @include animationPulse(buttons, 1s, 1, 1.04);
        }
      }
    }
  }
  &_style-tab3 {
    #{$this} {
      &__bg {
        @include animationPulse(bg, 1s, 1, 1.02);
        background: radial-gradient(123.63% 123.63% at 6.32% 96.58%, #30CFD0 0%, #330867 100%);

        img {
          display: none;
        }
      }
      &__button {
        background: transparent;
        border-radius: 100px;
        box-shadow: 0 0 0 em(2, $fs) currentColor;
      }
      &__button-image {
        border-radius: 100px;
      }
      &__button-text {
        color: currentColor;
      }
    }
  }

  // banner
  &_style-banner {
    #{$this} {
      &__logo {
        @include size(em(83, $fs));
      }
      &__title {
        $fs: 21;

        margin-top: em(14, $fs);
        font-size: em($fs, $default_font_size);
        line-height: em(24, $fs);
      }
      &__subtitle {
        $fs: 14;

        margin-top: em(7, $fs);
        font-size: em($fs, $default_font_size);
        line-height: em(21, $fs);
      }
      &__button {
        $fs: 10;

        padding: rem(12);
        font-size: em($fs, $default_font_size);
        line-height: em(14, $fs);
      }
      &__button-image {
        $fs: 10;

        left: em(10, $fs);
        border-radius: em(2, $fs);
        @include size(em(24, $fs));
      }
    }
  }
  &_style-banner1 {
    color: #000;
    background: #fff;

    #{$this} {
      &__bg {
        top: -50px;
      }
      &__socials {
        margin: em(19, $fs) auto 0;
      }
      &__social {
        svg {
          @include size(em(25, $fs));
        }
        &:not(:last-child) {
          margin-right: em(5, $fs);
        }
      }
      &__buttons {
        margin-top: em(35, $fs);
      }
      &__button {
        $fs: 10;

        background: transparent;
        border-radius: em(5, $fs);
        border: 1px solid currentColor;

        &:not(:last-child) {
          margin-bottom: em(13, $fs);
        }
      }
      &__button-text {
        color: currentColor;
      }
    }
  }
  &_style-banner2 {
    color: #fff;
    min-height: em(460, $fs);

    #{$this} {
      &__bg {
        border-radius: 0;
      }
      &__socials {
        display: none;
      }
      &__buttons {
        margin-top: em(25, $fs);
      }
      &__button {
        $fs: 10;

        background: #fff;
        border-radius: 50px;

        &:not(:last-child) {
          margin-bottom: em(13, $fs);
        }
      }
      &__button-text {
        color: #000;
      }
    }
  }
}