// utils
@import "app/styles/variables";
@import "app/styles/mixins";
// ui
@import "app/styles/UI/c-button";

.typewriterInput {
  display: flex;
  align-items: center;
  padding: rem(8);
  cursor: text;
  background: #1D253F;
  border-radius: rem(4);
  box-shadow: 0 0 0 1px #2D3653;
  transition: box-shadow .25s ease;

  &__wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 rem(16);

     & > div {
       display: flex;

       //media
       @include MQ(500) {
         width: rem(120);
       }
       //media

     }
  }
  &__text {
    $fs: 16;

    font-size: rem($fs);
    line-height: em(24, $fs);
  }
  &__input {
    $fs: 16;

    font-size: rem($fs);
    flex: 1;
    color: $grey_icon;
    padding: 0;
    line-height: em(24, $fs);

    //media
    @include MQ(400) {
      max-width: em(125, $fs);
    }
    //media

  }
  &__button {
    $fs: 14;

    min-width: em(40, $fs);
    padding: em(8, $fs);
    color: currentColor;
  }
  &__button-icon {
    fill: currentColor;
  }

  &__typewriter-text {
    $fs: 16;
    @include textDots;

    font-size: rem($fs);
    line-height: em(24, $fs);
    color: $grey_icon;
  }
  &__typewriter-cursor {
    position: relative;
    color: transparent;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 1px;
      height: 100%;
      transform: translateY(-50%);
      background: $grey_icon;
    }
  }

  &_error {
    box-shadow: 0 0 0 1px $red;
  }
}
