// utils
@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/functions";
// ui
@import "../../../styles/UI/c-button";

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(64);
  color: #fff;
  overflow: hidden;
  background: linear-gradient(180deg, #273151 0%, #0C1329 100%);
  border-radius: rem(10);
  box-shadow: 0 rem(2) rem(4) #DFE3F0, 0 rem(6) rem(14) #E0E2E9;
  $this: &;

  //media
  @include MQ(500) {
    padding: rem(48) rem(16);
  }
  //media


  &__info {
    position: relative;
  }
  &__title {
    $fs: 32;

    text-align: center;
    margin-bottom: em(24, $fs);
    font-weight: 600;
    font-size: rem($fs);
    line-height: em(40, $fs);
    background-image: linear-gradient(to left, #AEFBCB 0, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &_default {
    content: 'default';
  }
  &_bottom {
    display: flex;
    justify-content: space-between;
    padding: rem(80) 0;

    //media
    @include MQ(1800) {
      padding: rem(96) 0;
    }
    @include MQ(1000) {
      padding: rem(64) 0 rem(128);
    }
    @include MQ(650) {
      padding: rem(48) rem(24) rem(296);
    }
    @include MQ(375) {
      padding: rem(48) rem(16) rem(296);
    }
    //media


    #{$this} {
      &__info {
        max-width: rem(560);
        margin-left: rem(120);

        //media
        @include MQ(1800) {
          max-width: rem(380);
          margin-left: rem(56);
        }
        @include MQ(650) {
          width: 100%;
          max-width: initial;
          margin-left: 0;
          text-align: center;
        }
        //media

      }
      &__title {
        $fs: 56;

        font-size: rem($fs);
        margin-bottom: em(24, $fs);
        line-height: em(64, $fs);
        text-align: left;

        //media
        @include MQ(1800) {
          $fs: 40;

          font-size: rem($fs);
        }
        @include MQ(650) {
          $fs: 32;

          font-size: rem($fs);
          text-align: center;
        }
        //media

      }
      &__subtitle {
        $fs: 18;

        font-size: rem($fs);
        line-height: em(28, $fs);
        color: $grey_icon;

        //media
        @include MQ(1800) {
          $fs: 16;

          font-size: rem($fs);
        }
        //media

      }
      &__button {
        $fs: 16;

        font-size: rem($fs);
        margin-top: em(40, $fs);
        padding: em(20 61, $fs);
        line-height: em(20, $fs);

        //media
        @include MQ(650) {
          $fs: 14;

          font-size: rem($fs);
          margin-top: em(24, $fs);
        }
        //media

      }
      &__decor {
        position: absolute;
        top: rem(64);
        right: rem(120);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        //media
        @include MQ(1800) {
          right: rem(35);
        }
        @include MQ(1000) {
          transform: scale(.7);
          top: rem(90);
          right: rem(-50);
        }
        @include MQ(650) {
          top: auto;
          bottom: -40%;
          right: 0;
          left: 0;
          justify-content: center;
        }
        @include MQ(375) {
          bottom: -35%;
          transform: scale(.62);
        }
        //media

      }
      &__bio-site {
        position: relative;
        width: em(210, $fs);
        padding: em(20 14 20, $fs);
        overflow: hidden;
        border-radius: em(18, $fs);
        flex-shrink: 0;
        font-size: rem(16);

        &:first-child {
          margin-top: em(41, $fs);
          margin-right: em(20, $fs);

          //media
          @include MQ(1800) {
            margin-right: em(18, $fs);
          }
          @include MQ(1000) {
            margin-top: em(90, $fs);
          }
          //media

        }
      }
    }
  }
}
