// utils
@import 'app/styles/variables';
@import 'app/styles/mixins';
@import 'app/styles/functions';

.c-button {
  $fs: 14;

  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: em(100, $fs);
  padding: em(5 10, $fs);
  border-radius: em(6, $fs);
  font-size: rem($fs);
  line-height: 1.1;
  font-weight: 600;
  text-decoration: none;
  word-break: break-word;
  cursor: pointer;
  color: #fff;
  background: $green;
  will-change: transform;
  transform: translate3d(0,0,0) scale(1);
  transition: background 0.25s ease, color 0.25s ease, box-shadow 0.25s ease, transform 0.25s linear;

  // state
  &:hover {
    background: #45CBB0;
    color: #fff;
    text-decoration: none;
  }
  &:active {
    background: #38A58F;
    transform: translate3d(0,0,0) scale(.98);
    transition: background 0.25s ease, color 0.25s ease, box-shadow 0.25s ease, transform 0.1s linear;
  }
  // state

  // modifiers
  &_secondary {
    background: transparent;
    color: $grey_icon_hover;
    box-shadow: inset 0 0 0 1px $grey_icon_hover;

    //state
    &:hover {
      color: $grey_text;
      background: transparent;
      box-shadow: inset 0 0 0 1px $grey_text;
    }
    &:active {
      color: #333;
      background: transparent;
      box-shadow: inset 0 0 0 1px #333;
    }
    //state
  }
  // modifiers
}
